body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e1cce7;
}
#projects {
  background-color: #e1cce7;
}

section {
  padding-top: 5rem;
}
footer{
  background-color: #9819be;
}


@media only screen and (max-width: 600px) {
  .jumbotron {
    background-color: lightblue;
  }
}
